<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="hui"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>房屋租赁系统，一起合租吧！</title>

    <!-- Custom CSS -->
    <link href="assets/css/styles.css?v=20210423" rel="stylesheet">

    <!-- Custom Color Option -->
    <link href="assets/css/colors.css" rel="stylesheet">

    <!--  Vue and axios -->
    <script src="assets/js/common/vue-2.5.16.js"></script>
    <script src="assets/js/common/axios.min.js"></script>

</head>

<body class="yellow-skin">

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader"></div>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="app">
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->
        <div class="header header-light dark-text">
            <div class="container">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="index.html">
                            <img src="assets/img/logo.png" class="logo" alt=""/>
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">

                            <li><a href="index.html" style="font-size: 15px;">首页</a></li>
                            <li><a href="house_list.html?rent_type=whole" style="font-size: 15px;">整租</a></li>
                            <li><a href="house_list.html?rent_type=share" style="font-size: 15px;">合租</a></li>
                            <li><a href="helpRent.html" style="font-size: 15px;">求租</a></li>
                            <li><a href="news.html" style="font-size: 15px;">公告资讯</a></li>

                            </li>
                        </ul>
                        <ul class="nav-menu nav-menu-social align-to-right dhsbrd" v-show="user_show">

                            <li>
                                <div class="btn-group account-drop">
                                    <button type="button" class="btn btn-order-by-filt"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <img :src="'https://eu.ui-avatars.com/api/?background=random&length=1&rounded=true&bold=true&name='+user_info.username"
                                             class="avater-img"
                                             alt="">
                                        {{ user_info.username }}
                                    </button>


                                    <div class="dropdown-menu pull-right animated flipInX" style="width: 120px;">
                                        <a href="profile.html">
                                            <i class="ti-user"></i>个人信息
                                        </a>
                                        <a href="my_home.html">
                                            <i class="ti-home"></i>我的家
                                        </a>
                                        <a href="order.html">
                                            <i class="ti-home"></i>我的订单
                                        </a>
                                        <a href="user_collect.html">
                                            <i class="ti-bookmark"></i>我的收藏
                                        </a>
                                        <a href="rental_demand_list.html">
                                            <i class="ti-bookmark"></i>我的求租
                                        </a>
                                        <a href="#" onclick="user_logout()">
                                            <i class="ti-power-off"></i>退出登录
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- ============================ User Dashboard ================================== -->
        <section class="gray p-0">
            <div class="container-fluid p-0">

                <div class="row">

                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="property_dashboard_navbar">

                            <div class="dash_user_menues">
                                <ul>
                                    <li class="active"><a href="profile.html"><i
                                            class="ti-user"></i>个人信息</a></li>
                                    <li><a
                                            href="my_home.html"><i class="ti-home"></i>我的家</a></li>
                                    <li><a
                                            href="order.html"><i class="ti-gift"></i>订单管理</a></li>
                                    <li><a href="user_collect.html"><i
                                            class="ti-bookmark"></i>我的收藏</a></li>
                                    <li><a href="rental_demand_list.html"><i
                                            class="ti-pencil"></i>求租管理</a></li>
                                    <li><a href="reset_password.html"><i
                                            class="ti-unlock"></i>密码修改</a></li>
                                    <li><a href="#" onclick="user_logout()"><i class="ti-power-off"></i>退出登录</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12">
                        <div class="dashboard-body">

                            <div class="dashboard-wraper">

                                <!-- Basic Information -->
                                <div class="frm_submit_block">
                                    <h4>个人信息</h4>
                                    <div class="frm_submit_wrap">
                                        <form action="" id="profileForm">
                                            <div class="form-row">

                                                <div class="form-group col-md-6">
                                                    <label>用户名</label>
                                                    <input type="text" class="form-control" name="username"
                                                           v-model="user_profile.username"
                                                           disabled>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label>真实姓名</label>
                                                    <input type="text" class="form-control" name="real_name"
                                                           v-model="user_profile.real_name">
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label>电子邮箱</label>
                                                    <input type="email" class="form-control" name="mail"
                                                           v-model="user_profile.mail">
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label>手机号</label>
                                                    <input type="text" class="form-control" name="mobile"
                                                           v-model="user_profile.mobile">
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label>身份证号码</label>
                                                    <input type="text" class="form-control" name="id_card"
                                                           v-model="user_profile.id_card">
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label>性别</label>
                                                    <select name="gender" v-model="user_profile.gender"
                                                            class="form-control">
                                                        <option value="male">
                                                            男
                                                        </option>
                                                        <option value="female">
                                                            女
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label>职业</label>
                                                    <select name="career" v-model="user_profile.career"
                                                            class="form-control">
                                                        <option value="其他">其他</option>
                                                        <option value="互联网/计算机">互联网/计算机</option>
                                                        <option value="生产/制造">生产/制造</option>
                                                        <option value="教育/培训">教育/培训</option>
                                                        <option value="教育/培训">教育/培训</option>
                                                        <option value="金融/银行">金融/银行</option>
                                                        <option value="保险/投资">保险/投资</option>
                                                        <option value="文化/传媒">文化/传媒</option>
                                                        <option value="公务员">公务员</option>
                                                        <option value="服务行业">服务行业</option>
                                                        <option value="学生">学生</option>
                                                    </select>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label>爱好</label>
                                                    <input type="text" class="form-control" v-model="user_profile.hobby"
                                                           name="hobby">
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label>个人简介</label>
                                                    <textarea class="form-control"
                                                              name="user_desc"
                                                              v-model="user_profile.user_desc">

                                                    </textarea>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label>身份证正面</label>
                                                    <div>
                                                        <img id="id_card_front"
                                                             src="https://repo.bfw.wiki/bfwrepo/image/606e33d87a964.png"
                                                             alt="身份证正面"
                                                             class="img-thumbnail"
                                                             onclick="$('#card_front_file').click();">
                                                    </div>
                                                    <label class="input-group-btn">
                                                        <input type="file" id="card_front_file" name="id_card_front"
                                                               accept=".png, .jpg, .jpeg"
                                                               style="display: none"
                                                               @change="update_id_card_img($event)">
                                                    </label>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label>身份证反面</label>
                                                    <div>
                                                        <img id="id_card_back"
                                                             src="https://repo.bfw.wiki/bfwrepo/image/606e33ec83a76.png"
                                                             alt="身份证反面"
                                                             class="img-thumbnail"
                                                             onclick="$('#card_back_file').click();">
                                                    </div>
                                                    <label class="input-group-btn">
                                                        <input type="file" id="card_back_file" name="id_card_back"
                                                               accept=".png, .jpg, .jpeg"
                                                               style="display: none"
                                                               @change="update_id_card_img($event)">
                                                    </label>
                                                </div>

                                                <div class="form-group col-md-6">
                                                    <img src="" id="imgUrl" style="height: 100px;" alt="">
                                                </div>

                                                <div class="form-group col-lg-12 col-md-12">
                                                    <button class="btn btn-theme bg-2" type="button"
                                                            @click="submitProfile()">
                                                        保存
                                                    </button>
                                                    <button class="btn btn-theme bg-2" type="button"
                                                            @click="real_name_auth()">
                                                        实名认证
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-12 col-lg-12 mt-4">
                                    <footer class="text-center">
                                        <p class="mb-0">© 2021 Saysky. All Rights
                                            Reserved</p>
                                    </footer>
                                </div>
                            </div>
                            <!-- row -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ============================ User Dashboard End ================================== -->


        <!-- ============================ Footer Start ================================== -->
        <footer class="dark-footer skin-dark-footer style-2" style="padding-top: 0;">

            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-12 col-md-12">
                            <p class="mb-0">© 2021 Saysky</p>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- ============================ Footer End ================================== -->

        <!-- 登录弹出框 Modal -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <header class="modal_content_header">
                    <div class="hm_nav">
                        <h3 class="hm_nav_title">登录</h3>
                        <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    </div>
                </header>
                <div class="modal-content" id="registermodal">
                    <div class="modal-body">
                        <div class="login-form">
                            <form id="loginForm">

                                <div class="form-group">
                                    <label>账号</label>
                                    <div class="input-with-icon">
                                        <input type="text" class="form-control" name="userName" placeholder="账号">
                                        <i class="ti-user"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>密码</label>
                                    <div class="input-with-icon">
                                        <input type="password" class="form-control" name="userPass"
                                               placeholder="*******">
                                        <i class="ti-unlock"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="button" onclick="submitLogin()"
                                            class="btn btn-md full-width pop-login bg-2">登录
                                    </button>
                                </div>

                            </form>
                        </div>

                        <div class="text-center">
                            <p class="mt-3"><i class="ti-user mr-1"></i>忘记密码? <a href="#" data-toggle="modal"
                                                                                 data-target="#forget"
                                                                                 class="link">点此重置</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <!-- 注册 Modal -->
        <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <header class="modal_content_header">
                    <div class="hm_nav">
                        <h3 class="hm_nav_title">注册</h3>
                        <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    </div>
                </header>
                <div class="modal-content" id="sign-up">
                    <div class="modal-body">
                        <div class="login-form">
                            <form id="registerForm">

                                <div class="row">

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>姓名</label>
                                            <div class="input-with-icon">
                                                <input type="text" name="userDisplayName" class="form-control"
                                                       placeholder="姓名">
                                                <i class="ti-user"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>电子邮箱</label>
                                            <div class="input-with-icon">
                                                <input type="email" name="email" class="form-control"
                                                       placeholder="电子邮箱，用于重置密码">
                                                <i class="ti-email"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>手机号</label>
                                            <div class="input-with-icon">
                                                <input type="text" name="phone" class="form-control" placeholder="手机号">
                                                <i class="ti-mobile"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>账号</label>
                                            <div class="input-with-icon">
                                                <input type="text" name="userName" class="form-control"
                                                       placeholder="登录账号">
                                                <i class="ti-user"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>密码</label>
                                            <div class="input-with-icon">
                                                <input type="password" name="userPass" class="form-control"
                                                       placeholder="登录密码">
                                                <i class="ti-unlock"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>角色</label>
                                            <div class="simple-input">
                                                <select name="role" class="form-control">
                                                    <option value="customer">租客</option>
                                                    <option value="owner">房东</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <button type="button" onclick="submitRegister()"
                                            class="btn btn-md full-width pop-login bg-2">创建账号
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <!-- 找回密码弹出框 Modal -->
        <div class="modal fade" id="forget" tabindex="-1" role="dialog" aria-labelledby="forgetmodal"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <header class="modal_content_header">
                    <div class="hm_nav">
                        <h3 class="hm_nav_title">找回密码</h3>
                        <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    </div>
                </header>
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="login-form">
                            <form id="forgetForm">

                                <div class="form-group">
                                    <label>账号</label>
                                    <div class="input-with-icon">
                                        <input type="text" class="form-control" name="userName" placeholder="账号">
                                        <i class="ti-user"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>邮箱地址</label>
                                    <div class="input-with-icon">
                                        <input type="email" class="form-control" name="email"
                                               placeholder="注册时填写的电子邮箱地址">
                                        <i class="ti-unlock"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="button" onclick="submitForget()"
                                            class="btn btn-md full-width pop-login bg-2">重置密码
                                    </button>
                                </div>

                            </form>
                        </div>

                        <div class="text-center">
                            <p class="mt-3"><i class="ti-user mr-1"></i>我们会向您的邮箱发送一封邮件，请注意查收</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <!-- End Video Modal -->
        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


    </div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/layui/layui.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ion.rangeSlider.min.js"></script>
<script src="assets/js/select2.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/slick.js"></script>
<script src="assets/js/slider-bg.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/imagesloaded.js"></script>
<script src="assets/js/daterangepicker.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/common/md5.min.js"></script>
<script src="assets/js/common/constants.js"></script>
<script src="assets/js/common/utils.js"></script>
<script src="assets/js/user/center.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
</body>
</html>
